<div>
  <h1>Ejemplo de Directiva de Atributo</h1>

  <p>Sirve para cambiar el color de cualquier componente</p>

  <p>Al pasar el raton se aplica el color, al quitar el raton se quita el color</p>

  <div>
    <h2>Slecciona el color para subrayar</h2>

    <div>
      <input type="radio" name="colors" (click)="color='yellow'" />Amarillo
      <input type="radio" name="colors" (click)="color='lightgreen'" />Verde
      <input type="radio" name="colors" (click)="color='cyan'" />Azul
    </div>
  </div>

  <!-- Texto para subrayar-->
  <div>
    <p [appAttr]="color">
       Texto para probar la directiva sin default color
    </p>

    <p [appAttr]="color" defaultColor="violet">
      Texto para probar la directiva con default Color
    </p>
  </div>

  <div>
    <h3>Texto para probar el Tipo de Fuente de una directiva</h3>

    <p [ngStyle]="{'font-family': iscomic ? 'Comic Sans MS' : 'Arial'}">Texto para probar la fuente de una directiva de atributo</p>


  </div>

  <button (click)="cambiarFuente()">
    {{ !iscomic ? 'Comic Sans MS' : 'Arial' }}
  </button>




</div>
